@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Lato);

header {
   font-family: 'Raleway';
}

table {
    background-color: lightgray;
}

tr {
  color: black;
  font-family: 'Raleway';
  font-size: 100%;
  width: 200px;
}

td {
  color: black;
  font-family: 'Raleway';
  font-size: 100%;
  width: 200px;
  padding: 10px;
}

.selectedRow {
  background-color: beige !important;
}
