<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="spotify-icon.ico">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
    <script src="angular-spotify.js"></script>
    <script src="app.js"></script>
    <script src="data.js"></script>
    <link href="app.css" rel="stylesheet" type="text/css"/>
    <title>Spotify search</title>
  </head>
  <header>
  <h1 style = "color: white">Music Explorer</h1>
  </header>
  <body style="background-image: url('img/music-title.jpg');
  background-repeat: no-repeat;
  background-position: left top;">
    <div class="container-fluid" ng-app="myApp" ng-controller="myCtrl">
      <div class="row">
        <div class="col-md-4">
          <form name="songForm">
            <div class="form-group">
              <label>Explore your favorite music, your way:</label>
              <input name="search" ng-minlength=3 placeholder="Search for an album, song title, or artist..." ng-model="track" class="form-control" required></input>
              <p class="help-block" ng-show="songForm.search.$error.minlength">Enter 3+ characters</p>
            </div>
            <div class="form-group">
              <button ng-disabled="songForm.search.$invalid" class="btn btn-primary" ng-click="getSongs()" type="submit">Submit</button>
            </div>
          </form>
        </div>
        <div class="col-md-6">
          <div class="container-fluid">
            <div class="row">
              <p ng-show="tracks.length>0" class="help-block">Click to sample</p>
              <div ng-class="track.preview_url == currentSong ? 'playing' : ''"  ng-repeat="track in tracks" class="col-sm-4 img"><img ng-click="play(track.preview_url)" title="{{track.name}}" src="{{track.album.images[1].url}}"></img></div>
              <ul>
            <li ng-repeat="song in songs">
            {{ song.title + ', ' + song.artist }}
            </li>
              </ul> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
