<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Spotify Music Explorer</title>


    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>


    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">


    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>


    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">


    <link rel="stylesheet" href="app.css">

    <link rel="shortcut icon" href="img/spotify-icon.ico">

    <!-- Angular Spotify JS : https://github.com/eddiemoore/angular-spotify-->
    <script src="angular-spotify.js"></script>

    <!-- My JS -->
    <script src="app.js"></script>

  
  </head>
  <main style="background-color: gray;" class="container-fluid" ng-app="myApp" ng-controller="myCtrl
  ">
  <header style="padding: 1em 1em 1em 1em; border-top: 5px #EC791F; font-size: 80%; text-align: left;">
  </header>
  <body style="background-image: url('img/background.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;">

   <!--  <div class="text-center"> --> 
      <h1 style = "color: beige; font-size: 40px; font-family: 'Raleway';">Spotify Music Explorer</h1>
      </div>
      <form name="songForm"></form>
        <div style="color: yellow; font-size: 20px; font-family: 'Raleway';" 
        class="form-group">
            <label>Explore your favorite music artists, your way:</label>
        </div>
    <div class="row">
        <div class="col-xs-6 form-group center-block">
     <input name="search" ng-minlength=3 placeholder="Search for an album, song title, or artist..." ng-model="searchartist" class="form-control" required></input>
              <p class="help-block" ng-show="songForm.search.$error.minlength">Enter 3+ characters</p>
            </div>
            <div style="button:hover background: #3071A9;" class="form-group">
              <button ng-disabled="songForm.search.$invalid" class="btn btn-primary" ng-click="searchArtist()" type="submit">Submit</button>
            </div>
            <div class="col-xs-6"></div>
       <table style="width:100%">
         <tr><td>Name:</td><td>{{name}}</td></tr>
         <tr><td>Popularity:</td><td>{{popularity}}/100</td></tr>
         <tr><td>Genres:</td><td><p ng-repeat="element in genres">{{element}}</p></td></tr>
         <tr><td>Numberd of followers:</td><td>{{followers}}</td></tr>
        </table>
    <p name="searchResults" ng-repeat="element in artists" ng-click ="artistSelected(element.id)">{{element.name}}</p>
    </main>
  </body>
</html>
